@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="inner-content">

        <div class="movie-content">




           <div class="movie-card">
             <a asp-action="Movie" asp-controller="Home" asp-route-id="123"><img src="https://image.tmdb.org/t/p/w500//kCGlIMHnOm8JPXq3rXM6c5wMxcT.jpg" alt="game of throne" Poster" /></a>
              <div class="details">
                <div class="rating" style="font-size: 12px">
                  7.2
                </div>
                <h4 class="movie-name">
                  Poor Things
                </h4>
                <p class="movie-date" style="font-size: 12px">
                  23/4/2023
                </p>
              </div>
            </div>
                    @* <h1 class="error-message" style="display: block; width: 500px; height: 32vh;">Hanji</h1> *@
            </div>
  </div>